.App {
  text-align: center;
}

.container {
  /* display: grid;
  grid-template-columns: 5fr 10fr 5fr 5fr;
  grid-template-rows: 64px auto 100%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  min-height: 100%;
  grid-template-areas:  "h h h h"
                        ". cont modal ."
                        "f f f f"; */
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
}

header {
  grid-area: h;
  background-color: orange;
}

.content-table {
  grid-area: cont;
  position: relative;
  margin-top: 10vh
}

.modal-window {
  grid-area: modal;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: visible;
}

footer {
  position: relative;
  grid-area: f;
  background-color: slategrey;
  bottom: 0px;
}

.filter {
  height: auto;
  text-align: center;
}
